
.main-header{
  margin-left: 40%;
  position: relative;
}

#lady {
  z-index: -99;
  position: absolute;
  align-self: center;
  margin-top: 200px;
  width: 50%;
}

.container {
  position: relative;
  margin-left: 10%;
}

.container div {
  position: absolute;
}

h1 {
  color: gray;
}

.torch{
  color: black;
  font-size: xx-small;
  padding: 10px;
  padding-top: 200px;
  text-align: center;
  margin-top: 2px;
  margin-left: 150px;
  margin-right: 0px;
}



.crown {
  color: black;
  font-size: xx-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 0px;
}

.tablet {
  color: black;
  font-size: xx-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 300px;
  margin-left: 150px;
  margin-right: 0px;
}

.body {
  color: black;
  font-size: xx-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 400px;
  margin-left: 150px;
  margin-right: 0px;
}

.chains {
  background-color: transparent;
  color: black;
  font-size: xx-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 500px;
  margin-left: 150px;
  margin-right: 0px;
}

.typewriter h1 {
  font-family: monospace; 
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
    font-size: xx-small;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: rgb(80, 128, 134); }
}

#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: #c3d7db;
  border: solid 1px #c3c3c3;
  font-size: small;
  color: white;
}

#panel {
  padding: 50px;
  display: none;
  font-size: x-small;
}

@media screen and (min-width: 500px) {

.torch {
  color: black;
  font-size: x-small;
  padding: 10px;
  padding-top: 200px;
  text-align: center;
  margin-top: 2px;
  margin-left: 200px;
  margin-right: 0px;

}



.crown {
  color: black;
  font-size: x-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 0px;
}

.tablet {
  color: black;
  font-size: x-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 300px;
  margin-left: 200px;
  margin-right: 0px;
  
}

.body {
  color: black;
  font-size: x-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 400px;
  margin-left: 200px;
  margin-right: 0px;
}

.chains {
  color: black;
  font-size: x-small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 500px;
  margin-left: 200px;
  margin-right: 0px;
}

#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: #c3d7db;
  border: solid 1px #c3c3c3;
  font-size: large;
  color: white;

}

#panel {
  padding: 50px;
  display: none;
  font-size: large;
}

}
@media screen and (min-width: 780px) {


.torch{
  color: black;
  font-size: small;
  padding: 10px;
  padding-top: 200px;
  text-align: center;
  margin-top: 2px;
  margin-left: 500px;
  margin-right: 0px;

}
.crown {
  color: black;
  font-size: small;
  padding: 10px;
  padding-top: 200px;
  text-align: center;
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 0px;
}

.tablet {
  color: black;
  font-size: small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 450px;
  margin-left: 500px;
  margin-right: 0px;
  
}

.body {
  color: black;
  font-size: small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 580px;
  margin-left: 500px;
  margin-right: 0px;
}

.chains {
  color: black;
  font-size: small;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 800px;
  margin-left: 500px;
  margin-right: 0px;
}

#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: #c3d7db;
  border: solid 1px #c3c3c3;
  font-size: x-large;
  color: white;

}

#panel {
  padding: 50px;
  display: none;
  font-size: x-large;
}
.typewriter h1 {
  font-size: small;

}


}
@media screen and (min-width: 1200px) {


.main-header{
  margin-left: 40%;
  position: relative;

}

#lady {
  z-index: -99;
  position: absolute;
  align-self: center;
  margin-top: 200px;
}

.container {
  position: relative;
  margin-left: 10%;
}

.container div {
  position: absolute;
}

h1 {
  color: gray;

}

.torch{
  color: black;
  font-size: large;
  padding: 10px;
  padding-top: 200px;
  text-align: center;
  margin-top: 0px;
  margin-left: 800px;
  margin-right: 0px;

}

.crown {
  color: black;
  font-size:large;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 300px;
  margin-left: 800px;
  margin-right: 0px;
}


.tablet {
  color: black;
  font-size: large;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 550px;
  margin-left: 800px;
  margin-right: 0px;
  
}

.body {
  color: black;
  font-size: large;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 750px;
  margin-left: 800px;
  margin-right: 0px;
}

.chains {
  color: black;
  font-size: large;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  margin-top: 1000px;
  margin-left: 800px;
  margin-right: 0px;
}

.typewriter h1 {
  font-family: monospace; 
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: rgb(80, 128, 134); }
}

#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: #c3d7db;
  border: solid 1px #c3c3c3;
  font-size: xx-large;
  color: white;

}

#panel {
  padding: 50px;
  display: none;
  font-size: x-large;
}
.typewriter h1 {
  font-size: large;

}

}